<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.0/dist/axentix.min.css">
        {% block stylesheets %} {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
       
    
    <nav class="navbar shadow-1 primary">
        <a href="{{ path('app_home') }}"  class="navbar-brand">Progica</a>
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
          {# <a class="navbar-link" href="#">Categories</a> #}


          <a class="navbar-link" href="{{ path('app_contact') }}">Contact</a>
          <a class="navbar-link" href="{{ path('app_register') }}">S'enregistrer</a>

          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a class="navbar-link" href="{{ path('app_logout') }}">Se déconnecter</a>
          {% else %}
          <a class="navbar-link" href="{{ path('app_login') }}">Se connecter</a>
          {% endif %}
        </div>
    </nav>
    </header>

    <main>
       {% block body %}{% endblock %}
    </main>

    <footer class="footer primary">
      Copyright © 2022 - Progica-Andy

        <script src="https://cdn.jsdelivr.net/npm/axentix@2.0.0/dist/axentix.min.js"></script>
        {% block javascripts %}{% endblock %}
         <script>
        //   let drop = new Axentix.Dropdown('#dropdown')
        // </script>

        <script src="{{ asset('js/scripts.js') }}"></script>
    </body>
</html>
